Workflows/FPHub-ProjectDeliveryStatus-6A7A9E8C-675F-EF11-BFE3-000D3AB0BF53.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "aubia_sharedcommondataserviceforapps_6ef6a"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Project ID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@outputs('Compose')",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Update_a_row": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr725_bihub_ideases",
                  "recordId": "@triggerBody()?['text']",
                  "item/cr725_currentprojectstatus": 2
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "else": {
            "actions": {
              "Update_a_row-copy": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr725_bihub_ideases",
                    "recordId": "@triggerBody()?['text']",
                    "item/cr725_currentprojectstatus": 1
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                }
              }
            }
          },
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "title": "Response",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "response": "All good"
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          }
        },
        "Get_a_row_by_ID": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr725_bihub_ideases",
              "recordId": "@triggerBody()?['text']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {}
        },
        "Compose": {
          "type": "Compose",
          "inputs": "@body('Get_a_row_by_ID')?['cr725_overduetaskcount']",
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}