Workflows/TaskDescriptionTranslation-7E449E76-4C6F-EE11-9AE7-000D3A68506B.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_40afe"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "9246fd27-0c7f-4b72-b804-8b2e0045a00d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "cr725_tasks",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Task_Description": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "48c94c17-705c-4bd0-a979-69b81f20cb60",
            "flowSystemMetadata": {
              "portalOperationId": "aibuilderpredict_texttranslationpretrained",
              "portalOperationGroup": "aibuilder",
              "portalOperationApiDisplayNameOverride": "AI Builder",
              "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
              "portalOperationBrandColorOverride": "#0A76C4",
              "portalOperationApiTierOverride": "Standard"
            }
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "aibuilderpredict_texttranslationpretrained",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "item/requestv2/text": "@triggerOutputs()?['body/subject']",
              "item/requestv2/targetLanguage": "en",
              "item/requestv2/sourceLanguage": "auto"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_row": {
          "runAfter": {
            "Additional_Detail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "89f68a0b-451a-415b-a81c-80f63aa68704"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cr725_taskses",
              "recordId": "@triggerOutputs()?['body/activityid']",
              "item/cr725_detaileddescriptionenglish": "@outputs('Additional_Detail')?['body/responsev2/predictionOutput/text']",
              "item/cr725_taskdescriptionenglish": "@outputs('Task_Description')?['body/responsev2/predictionOutput/text']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Additional_Detail": {
          "runAfter": {
            "Task_Description": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "830264b0-ac0b-471b-838a-ca1174ae4060"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "aibuilderpredict_texttranslationpretrained",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "item/requestv2/text": "@triggerOutputs()?['body/description']",
              "item/requestv2/targetLanguage": "en",
              "item/requestv2/sourceLanguage": "auto"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}